{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}



{% block content %}
<nav class='bg-blue-900 w-full h-15 flex items-center justify-between p-4'>
        <div class="logo">DjangoApp</div>
        <ul class="flex justify-center gap-5">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <h1 style="color: white;">Welcome to the Home Page</h1>
    <p style="color: white;">This is the content for the home page.</p>
{% endblock %}